@use './foundation/base' as *;
@use './foundation/var' as *;
@use './foundation/function' as *;

body{
  position: relative;
  font-family: var(--font-inter), var(--font-biz), sans-serif;
  letter-spacing: .13rem;
  font-size: rem(14);
  font-feature-settings: "palt";
  @media screen and (min-width: 768px) {
    min-width: 1200px;
    font-size: rem(16);
  }
}
.header{
  background: var(--color-base);
  width: calc(100vw - 40px);
  display: flex;
  align-items: center;
  padding-block: 15px 14px;
  padding-inline: 20px;
  border-radius: 3px;
  @media screen and (min-width: 768px){
    width: calc(100vw - 80px);
    padding-block: 0;
    padding-inline: 30px 40px;
    position: relative;
    min-width: 1200px;
  }
}
.is-fixed{
  .header{
    position: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-inline: 20px;
    z-index:100;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    @media screen and (min-width: 768px){
      padding-inline:80px;
    }
  }
}
.is-blog{
  .header{
    width: 100%;
    border-bottom: 1px solid #eee;
  }
}
.hamburger{
  margin-inline-end: 20px;
  display: flex;
  button{
    width: 18px;
  }
}
.logo{
  width: 149px;
  height: auto;
  @media screen and (min-width: 768px){
    width: 240px;
    margin-inline-end: auto;
    img{
      width: 100%;
      height: auto;
    }
  }
}
.navigation{
  visibility: hidden;
  position: absolute;
  left: -100%;
  top: 0;
  transition: all 0.3s ease;
  max-width: 280px;
  overflow: hidden;
  width: 74.666%;
  height: 100svh;
  background: rgba(5, 48, 56, .9);
  backdrop-filter: blur(4px);
  z-index:100;
  @media screen and (min-width: 768px) {
    position: static;
    visibility: visible;
    height: auto;
    width: auto;
    max-width: none;
    background: transparent;
    display: inline-flex;
    overflow: visible;
  }
  &.is-open{
    visibility: visible;
    left: 0;
  }
}
.nav-close{
  display: flex;
  justify-content: flex-end;
  margin-block: 15px 35px;
  margin-inline-end:16px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.navigation-list{
  border-block-start: 1px solid #2F535A;
  @media screen and (min-width: 768px) {
    border-block-start: none;
  }
  li{
    border-block-end: 1px solid #2F535A;
    @media screen and (min-width: 768px) {
      border-block-end: none;
      display: inline-flex;
      position: relative;
    }
    a,.hasChildren{
      display: block;
      padding-block: 20px;
      padding-inline: 20px 0;
      color: #fff;
      font-weight: 700;
      text-decoration: none;
      @media screen and (min-width: 768px) {
        display: inline-flex;
        color: var(--color-primary);
        padding-block: 30px;
        padding-inline: 15px;
        font-size: rem(16);
        transition: background 0.3s ease;
        @media (hover: hover){
          &:hover{
            color: #222;
            background: #f2f2f2;
          }
        }
      }
    }
    .hasChildren{
      border-block-end: 1px solid #2F535A;
      position: relative;
      @media screen and (min-width: 768px){
        cursor: pointer;
        border-block-end: 0;
      }
      &::after{
        content: '';
        position: absolute;
        right: 20px;
        top: 50%;
        transform: rotate(45deg) translateY(calc(-50% - 3px));
        width: 0;
        height: 0;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        display: block;
        width: 6px;
        height: 6px;
        @media screen and (min-width: 768px) {
          display: none;
        }
      }
    }
    &.marketing{
      @media screen and (min-width: 768px) {
        flex-direction: column;
      }
    }
    .navigation-children{
      max-height: 0;
      overflow: hidden;
      visibility: hidden;
      transition: all 0.3s ease;
      @media screen and (min-width: 768px) {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 280px;
        padding-block-start: 30px;
        flex-direction: column;
        &::before{
          content:"";
          clip-path: polygon(50% 0, 100% 100%, 0 100%);
          height: calc(20px / 2);
          width: 20px;
          display: block;
          position: absolute;
          background: rgba(34,34,34,.8);
          top: 20px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &.is-open{
        max-height: 100vh;
        visibility: visible;
      }
      li{
        background: rgba(0,0,0,.4);
        @media screen and (min-width: 768px) {
          background: transparent;
          display: flex;
          background: rgba(34,34,34,.8);
          width: 100%;
          &+li{
            margin-inline-start: 0;
            a{
              border-block-start: 1px solid #fff;
            }
          }
          a{
            margin-inline: 20px;
            color: #bbb;
            display: flex;
            width: 100%;
            font-size: rem(14);
            padding-block: 25px;
            padding-inline-start:25px;
            position: relative;
            @media (hover: hover){
              &:hover{
                color: #fff;
                background: transparent;
              }
            }
            &:before{
              content: '';
              position: absolute;
              top: 50%;
              left: 5px;
              transform: translateY(-50%) rotate(-45deg);
              display: block;
              width: 6px;
              height: 6px;
              border-inline-end: 2px solid #fff;
              border-block-end: 2px solid #fff;
            }
            &:first-of-type{
              border-radius: 3px 3px 0 0;
            }
            &:last-of-type{
              border-radius: 0 0 3px 3px;
            }
          }
        }
      }
    }
    &.contact{
      display: none;
      @media screen and (min-width: 768px){
        display: inline-flex;

      }
    }
  }
}
.conversion{
  background: url('/images/mobile/common/conversion/bg_cv01@2x.jpg') no-repeat center center / cover;
  padding-inline: 20px;
  padding-block: 50px;
  color: #fff;
  @media screen and (min-width: 768px) {
    background: url('/images/desktop/common/conversion/bg_cv01.jpg') no-repeat center center / cover;
    padding-block:80px;
    padding-inline: 0;
    @media (min-resolution: 72dpi) {
      background: url('/images/desktop/common/conversion/bg_cv01@2x.jpg') no-repeat center center / cover;
    }
  }
  h2{
    font-size: rem(16);
    font-family: fot-udkakugo-large-pr6n, sans-serif;
    font-weight: 700;
    text-align: center;
    margin-block-end: 20px;
    @media screen and (min-width: 768px) {
      font-size: rem(20);
      margin-block-end: 40px;
    }
    em{
      font-size: rem(20);
      font-style: normal;
      @media screen and (min-width: 768px) {
        font-size: rem(32)
      }
    }
  }
  .txt{
    text-align: center;
    font-size: rem(14);
    line-height: 2;
    margin-block-end: 35px;
    @media screen and (min-width: 768px) {
      font-size: rem(16);
      margin-block-end: 40px;
    }
  }
}
.footer{
  background: #222;
  padding-block: 20px;
  text-align: center;
  @media screen and (min-width: 768px) {
    padding-block:60px;
    text-align: left;
  }
  &-inner{
    @media screen and (min-width: 768px) {
      width: 1200px;
      margin-inline: auto;
      display: flex;
    }
  }
  .logo{
    margin-inline: auto;
    width: 210px;
    margin-block-end: 60px;
    @media screen and (min-width: 768px) {
      margin-inline: 0 auto;
      width: 260px;
    }
  }
  .copyright{
    color: #fff;
    font-weight: 500;
    @media screen and (min-width: 768px) {
      text-align: center;
      margin-block-start: 100px;
    }
    small{
      font-size: rem(11);
      font-family: var(--font-futura), sans-serif;
      @media screen and (min-width: 768px) {
        font-size: rem(14);
      }
    }
  }
  &-navigation{
    @media screen and (min-width: 768px) {
      display: flex;
    }
    li{
      a,.hasChildren{
        @media screen and (min-width: 768px) {
          color: #fff;
          font-weight: 700;
          text-decoration: none;
          font-size: rem(14);
        }
      }
      a{
        @media screen and (min-width: 768px) {
          @media (hover:hover) {
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
      &+li{
        @media screen and (min-width: 768px) {
          margin-inline-start: 40px;
        }
      }
      .navigation-children{
        li{
          @media screen and (min-width: 768px) {
            margin-block-start: 10px;
          }
          a{
            @media screen and (min-width: 768px) {
              position: relative;
              padding-inline-start: 30px;
              display: block;
              &:before{
                content:"";
                display: block;
                width: 15px;
                height: 1px;
                position: absolute;
                top: 50%;
                left: 0;
                background: #fff;
                transform: translateY(-50%);
              }
            }
          }
          &+li{
            @media screen and (min-width: 768px) {
              margin-inline-start: 0;
            }
          }
        }
      }
    }
  }
}
.toc{
  width: calc(100% - 40px);
  margin-inline: auto;
  border:1px solid #e0e0e0;
  padding-block:20px;
  padding-inline: 30px;
  margin-block-end: 40px;
  @media screen and (min-width: 768px) {
    width: 1200px;
    max-width: calc(100% - 80px);
    padding-block: 40px;
    padding-inline: 50px;
    margin-block-end: 80px;
  }
  li{
    ol,ul{
      padding-inline-start: 20px;
      margin-block-start: 10px;
      @media screen and (min-width: 768px) {
        padding-inline-start: 30px;
      }
    }
    &+li{
      margin-block-start: 10px;
    }
    a{
      font-size: rem(14);
      font-weight: 700;
      text-decoration: none;
      @media screen and (min-width: 768px) {
        font-size: rem(16);
        @media (hover: hover) {
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}