@use './foundation/function' as *;

.keyvisual{
  background: url(/images/mobile/home/photo_keyvisual01.jpg) no-repeat center center / cover;
  padding-block-start: 25px;
  padding-inline: 20px;
  height: 100svh;
  display: flex;
  flex-direction: column;
  @media (min-resolution: 72dpi) {
    background: url(/images/mobile/home/photo_keyvisual01@2x.jpg) no-repeat center center / cover;
  }
  @media screen and (min-width: 768px) {
    background: url(/images/desktop/home/photo_keyvisual01.jpg) no-repeat center center / cover;
    padding-block-start: 40px;
    padding-inline: 40px;
    @media (min-resolution: 72dpi) {
      background: url(/images/desktop/home/photo_keyvisual01@2x.jpg) no-repeat center center / cover;
    }
  }
}
.catch{
  font-family: var(--font-futura), sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: rem(24);
  justify-content: center;
  display: inline-flex;
  min-height: calc( 100svh - 65px );
  flex-direction: column;
  @media screen and (min-width: 768px) {
    font-size: rem(42);
  }
  .line{
    display: inline-block;
    background: rgba(5,48,56,0.8);
    padding-inline: 10px;
    padding-block: 5px;
    line-height: 1.2;
    width: fit-content;
    &:first-of-type{
      border-radius: 3px 3px 3px 0;
    }
    &:last-of-type{
      border-radius:0 0 3px 3px
    }
  }
}
.information{
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 0 rgba(10,10,10, 0.1);
  margin-block-start: -60px;
  margin-inline: 20px;
  position: relative;
  z-index: 2;
  @media screen and (min-width: 768px) {
    width: 1000px;
    margin-inline: auto;
    display: flex;
    margin-block-start: -80px;
  }
  h2{
    font-size: rem(14);
    font-weight: 700;
    background: #222;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    border-radius: 3px 3px 0 0;
    font-family: fot-udkakugo-large-pr6n, sans-serif;
    @media screen and (min-width: 768px) {
      width: 250px;
      font-size: rem(16);
      border-radius: 3px 0 0 3px;
    }
    &:before{
      content: url(/images/mobile/home/ico_info01.svg);
      padding-block-start: 5px;
      margin-inline-end: 10px;
    }
  }
  &-list{
    padding:30px;
    border: 1px solid #eee;
    border-radius: 0 0 5px 5px;
    height: 250px;
    @media screen and (min-width: 768px) {
      width: calc(100% - 250px);
      height: 140px;
      padding-block:20px;
      padding-inline: 30px 60px;
    }
    li{
      a{
        text-decoration: none;
        @media screen and (min-width: 768px) {
          display: flex;
          @media (hover: hover){
            &:hover{
              h3{
                text-decoration: underline;
              }
            }
          }
        }
      }
      .time{
        font-size: rem(14);
        margin-bottom: 10px;
        @media screen and (min-width: 768px) {
          margin-bottom: 0;
          padding-block-start: .3em;
          font-size: rem(12);
        }
      }
      h3{
        font-size: rem(14);
        line-height: 1.8;
        @media screen and (min-width: 768px) {
          margin-inline-start: 20px;
        }
        &:after{
          content:url(/images/mobile/home/ico_arrow01.svg);
          padding-block-start: 2px;
          margin-inline-start: 8px;
        }
      }
      &+li{
        margin-block-start: 10px;
      }
    }
  }
}

.services{
  background: var(--color-primary);
  margin-block-start: -250px;
  padding-block: 305px 60px;
  padding-inline: 40px;
  @media screen and (min-width: 768px) {
    margin-block-start: -60px;
    padding-block: 40px 60px;
    padding-inline: 0;
  }
  &-list{
    display:flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      width: 90.885%;
      margin-inline: auto;
      max-width: 1745px;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  :global{
    .services-item{
      background: #fff;
      padding-block: 30px;
      padding-inline: 20px;
      border-radius: 3px;
      position: relative;
      transition: all 0.3s ease;
      @media screen and (min-width: 768px) {
        margin-block-start: 40px;
        padding-inline:40px;
        padding-block: 30px 40px;
      }
      .heading{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-block-end: 30px;
        @media screen and (min-width: 768px) {
          flex-direction: column;
          align-items: flex-start;
          margin-block-end: 10px;
        }
        h2{
          font-weight: 700;
          font-size: rem(18);
          margin-inline-start: 10px;
          font-family: fot-udkakugo-large-pr6n, sans-serif;
          @media screen and (min-width: 768px) {
            font-size: rem(21);
            margin-inline-start: 0;
            margin-block-start: 10px;
          }
        }
      }
      .icon{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        @media screen and (min-width: 768px) {
          width: 60px;
          height: 60px;
        }
      }
      &.web{
        @media screen and (min-width: 768px) {
          width: 35.243%;
        }
        .icon{
          background: #FE6A9D;
        }
      }
      &.sns{
        @media screen and (min-width: 768px) {
          width: 24.928%;
        }
        .icon{
          background: #36B0C1;
        }
      }
      &.outsourcing{
        @media screen and (min-width: 768px) {
          width: 35.243%;
        }
        .icon{
          background: #2FCE4E;
        }
        h2{
          font-size: rem(18);
        }
      }
      &.seo{
        @media screen and (min-width: 768px) {
          width: 30.487%;
        }
        .icon{
          background: #FEDE6A;
        }
      }
      &.management{
        @media screen and (min-width: 768px) {
          width: 34.383%;
        }
        .icon{
          background: #6A8BFE;
        }
      }
      &.advertise{
        @media screen and (min-width: 768px) {
          width: 30.487%;
        }
        .icon{
          background: #FF6161;
        }
      }
      & + .services-item{
        margin-block-start: 40px;
        @media screen and (min-width: 768px) {
          margin-block-start: 0;
          &:not(:nth-of-type(3n+1)){
            margin-inline-start: 2.292%;
          }
        }
      }
      &:first-of-type{
        @media screen and (min-width: 768px) {
          margin-block-start: 0;
        }
      }
      .description{
        font-size: rem(14);
        line-height: 1.8;
        @media screen and (min-width: 768px) {
          font-size: rem(16);
          line-height: 2;
        }
      }
      &.is-contract{
        overflow: hidden;
        max-height: 110px;
        @media screen and (min-width: 768px) {
          margin-block-start: 40px;
          max-height: none;
          overflow: auto;
        }
        .heading{
          position: relative;
          &::after{
            content: '';
            position: absolute;
            top: 50%;
            right: 8px;
            width: 8px;
            height: 8px;
            display: block;
            border-right: 2px solid var(--color-primary);
            border-bottom: 2px solid var(--color-primary);
            transform: translate(-50%, -50%) rotate(45deg);
            @media screen and (min-width: 768px) {
              display: none;
            }
          }
        }
        &.is-expanded{
          max-height: 100vh
        }
      }
    }
  }
}
.message{
  background: url(/images/mobile/home/bg_message01.svg) left top / contain no-repeat;
  padding-inline: 20px;
  padding-block: 37.333% 80px;
  @media screen and (min-width: 768px) {
    background: none;
    padding-block: 120px 140px;
    padding-inline: 0;
    position: relative;
    &:before{
      content:"";
      width: 22.8333%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background:url(/images/desktop/home/bg_message01.svg) left top repeat-x;
    }
  }
  h2{
    font-size: rem(20);
    font-weight: 700;
    font-family: fot-udkakugo-large-pr6n, sans-serif;
    margin-block-end: 30px;
    @media screen and (min-width: 768px) {
      font-size: rem(36);
      position: relative;
      display: inline-flex;
      padding-inline-end: 330px;
      margin-inline-end: auto;
      margin-block-end: 40px;
      &:after{
        content:"";
        display: block;
        width: 300px;
        height: 1px;
        background: var(--color-primary);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  :global{
    .inner{
      @media screen and (min-width: 768px) {
        width: 1200px;
        margin-inline: auto;
        min-width: 1200px;
      }
    }
    .txt{
      font-size: rem(14);
      line-height: 2;
      @media screen and (min-width: 768px) {
        font-size: rem(16);
        width: 900px;
        margin-inline-start: auto;
      }
    }
  }
}
.blog{
  padding-block:50px 60px;
  padding-inline: 20px;
  background: var(--color-primary);
  color: #fff;
  @media screen and (min-width: 768px) {
    padding-block: 60px 80px;
    padding-inline: 0;
  }
  h2{
    font-size: rem(24);
    font-weight: 700;
    background: url(/images/mobile/home/bg_heading01.svg) center bottom no-repeat;
    padding-block-end: 20px;
    text-align: center;
    margin-block-end: 40px;
    font-family: fot-udkakugo-large-pr6n, sans-serif;
    @media screen and (min-width: 768px) {
      font-size: rem(32);
      padding-block-end: 30px;
      margin-block-end: 50px;
    }
  }
}
.blog-list{
  margin-block-end: 50px;
  @media screen and (min-width: 768px) {
    width: 1200px;
    margin-inline: auto;
    display: flex;
    margin-block-end: 60px;
  }
  :global{
    .blog-item{
      @media screen and (min-width: 768px) {
        width: 33.333%;
      }
      a{
        text-decoration: none;
        @media screen and (min-width: 768px) {
          padding:10px;
          border-radius: 5px;
          display: block;
          transition: all 0.3s ease;
          @media (hover: hover){
            &:hover{
              background: rgba(255,255,255,0.1);
            }
          }
          &:focus-visible{
            background: rgba(255,255,255,0.1);
          }
        }
      }
      h3{
        font-family: fot-udkakugo-large-pr6n, sans-serif;
        font-size: rem(18);
        line-height: 2;
        margin-block-start: 10px;
        @media screen and (min-width: 768px) {
          font-size: rem(20);
        }
      }
      &+.blog-item{
        margin-block-start: 40px;
        @media screen and (min-width: 768px) {
          margin-block-start: 0;
        }
      }
    }
    .category{
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      color: #fff;
      font-size: rem(14);
      font-weight: 700;
      padding-inline:15px;
      @media screen and (min-width: 768px) {
        min-height: 60px;
        font-size: rem(16);
      }
      &.is-javascript{
        background: #FFC700;
        &:before{
          content:"";
          display: inline-flex;
          width: 24px;
          height: 24px;
          background: url(/images/mobile/common/ico_js01.svg) no-repeat center center / contain;
          margin-inline-end: 10px;
        }
      }
      &.is-design{
        background: linear-gradient(270deg, #FBC2EB 0%, #A6C1EE 100%);
        &:before{
          content:"";
          display: inline-flex;
          width: 24px;
          height: 24px;
          background: url(/images/mobile/common/ico_design01.svg) no-repeat center center / contain;
          margin-inline-end: 5px;
        }
      }
      &.is-css{
        background: #1D92FF;
        &:before{
          content:"";
          display: inline-flex;
          width: 24px;
          height: 24px;
          background: url(/images/mobile/common/ico_css01.svg) no-repeat center center / contain;
          margin-inline-end: 10px;
        }
      }
      &.is-html{
        background: #FF5050;
        &:before{
          content:"";
          display: inline-flex;
          width: 24px;
          height: 24px;
          background: url(/images/mobile/common/ico_html01.svg) no-repeat center center / contain;
          margin-inline-end: 10px;
        }
      }
      &.is-php{
        background: #6C81E1;
        &:before{
          content:"";
          display: inline-flex;
          width: 32px;
          height: 24px;
          background: url(/images/mobile/common/ico_php01.svg) no-repeat center center / contain;
          margin-inline-end: 10px;
        }
      }
      &.is-info{
        background: var(--color-primary);
        &:before{
          content:"";
          display: inline-flex;
          width: 24px;
          height: 24px;
          background: url(/images/mobile/common/ico_info01.svg) no-repeat center center / contain;
          margin-inline-end: 10px;
        }
      }
      &.is-alert{
        background: #FF2626;
        &:before{
          content:"";
          display: inline-flex;
          width: 20px;
          height: 20px;
          background: url(/images/mobile/common/ico_alert01.svg) no-repeat center center / contain;
          margin-inline-end: 10px;
        }

      }
    }
    .keyvisual{
      position: relative;
      aspect-ratio: 1.617/1;
      img{
        object-fit: cover;
      }
    }
    .date{
      font-size: rem(14);
      display: flex;
      align-items: center;
      margin-block-start: 20px;
    }
    .published{
      display: flex;
      align-items: center;
      &:before{
        content:"";
        display: inline-flex;
        width: 24px;
        height: 24px;
        background: url(/images/mobile/common/ico_clock01.svg) no-repeat center center / contain;
        margin-inline-end: 10px;
      }
    }
    .updated{
      display: flex;
      align-items: center;
      margin-inline-start: 30px;
      &:before{
        content:"";
        display: inline-flex;
        width: 24px;
        height: 24px;
        background: url(/images/mobile/common/ico_repeat01.svg) no-repeat center center / contain;
        margin-inline-end: 10px;
      }
    }
  }
}