@use '../../../styles/foundation/function' as *;

.heading{
  padding-block-start: 30px;
  padding-inline: 20px;
  :global{
    .date{
      display: flex;
      margin-block-end: 10px;
      .published,.updated{
        font-size: rem(12);
        color: var(--color-primary);
      }
      .published{
        display: flex;
        align-items: center;
        &:before{
          content:"";
          display: inline-flex;
          width: 20px;
          height: 20px;
          background: url(/images/mobile/common/ico_clock02.svg) no-repeat center center / contain;
          margin-inline-end: 5px;
        }
      }
      .updated{
        display: flex;
        align-items: center;
        margin-inline-start: 15px;
        &:before{
          content:"";
          display: inline-flex;
          width: 20px;
          height: 20px;
          background: url(/images/mobile/common/ico_repeat02.svg) no-repeat center center / contain;
          margin-inline-end: 5px;
        }
      }
    }
    .title{
      h1{
        font-size: rem(24);
        font-weight: 700;
        margin-block-end: 20px;
        line-height: 1.8;
        font-family:fot-udkakugo-large-pr6n, sans-serif;
      }
    }
    .category{
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      color: #fff;
      font-size: rem(14);
      font-weight: 700;
      padding-inline:15px;
      @media screen and (min-width: 768px) {
        min-height: 60px;
        font-size: rem(16);
      }
      &.is-javascript{
        background: #FFC700;
        &:before{
          content:"";
          display: inline-flex;
          width: 24px;
          height: 24px;
          background: url(/images/mobile/common/ico_js01.svg) no-repeat center center / contain;
          margin-inline-end: 10px;
        }
      }
      &.is-design{
        background: linear-gradient(270deg, #FBC2EB 0%, #A6C1EE 100%);
        &:before{
          content:"";
          display: inline-flex;
          width: 24px;
          height: 24px;
          background: url(/images/mobile/common/ico_design01.svg) no-repeat center center / contain;
          margin-inline-end: 5px;
        }
      }
      &.is-css{
        background: #1D92FF;
        &:before{
          content:"";
          display: inline-flex;
          width: 24px;
          height: 24px;
          background: url(/images/mobile/common/ico_css01.svg) no-repeat center center / contain;
          margin-inline-end: 10px;
        }
      }
      &.is-html{
        background: #FF5050;
        &:before{
          content:"";
          display: inline-flex;
          width: 24px;
          height: 24px;
          background: url(/images/mobile/common/ico_html01.svg) no-repeat center center / contain;
          margin-inline-end: 10px;
        }
      }
      &.is-php{
        background: #6C81E1;
        &:before{
          content:"";
          display: inline-flex;
          width: 32px;
          height: 24px;
          background: url(/images/mobile/common/ico_php01.svg) no-repeat center center / contain;
          margin-inline-end: 10px;
        }
      }
      &.is-info{
        background: var(--color-primary);
        &:before{
          content:"";
          display: inline-flex;
          width: 24px;
          height: 24px;
          background: url(/images/mobile/common/ico_info01.svg) no-repeat center center / contain;
          margin-inline-end: 10px;
        }
      }
      &.is-alert{
        background: #FF2626;
        &:before{
          content:"";
          display: inline-flex;
          width: 20px;
          height: 20px;
          background: url(/images/mobile/common/ico_alert01.svg) no-repeat center center / contain;
          margin-inline-end: 10px;
        }
      }
    }
  }
}
.keyvisual{
  position: relative;
  height: 240px;
  width: calc(100% - 40px);
  margin-inline: auto;
  margin-block-end: 30px;
  img{
    object-fit: cover;
  }
}