@use '../../styles/foundation/function' as *;

.breadcrumb {
  border-block-end: 1px solid #eee;
}

.intro {
  padding-inline: 20px;
  line-height: 1.93;
  font-size: rem(13);
  letter-spacing: .1rem;
  margin-block-end: 50px;
  @media screen and (min-width: 768px) {
    width: 740px;
    margin-inline:auto;
    font-size: rem(16);
    padding-inline: 0;
    margin-block-end: 130px;
  }
  a{
    color: #ff7c00;
    &[target="_blank"] {
      &:after{
        content:"";
        display: inline-block;
        background: url(/images/mobile/common/ico_blank01.svg) left top / contain no-repeat;
        width: 16px;
        height: 16px;
      }
    }
  }
}
.form{
  padding-inline:20px;
  margin-block-end: 20px;
  @media screen and (min-width: 768px) {
    width: 1000px;
    margin-inline: auto;
    // display: flex;
    // flex-wrap: wrap;
  }
  dt{
    font-weight: 700;
    margin-block-end: 15px;
    @media screen and (min-width: 768px) {
      float: left;
      margin-inline-start: 20px;
    }
    :global{
      .required{
        margin-inline: 10px .2rem;
        background: #DB628C;
        font-size: rem(11);
        color: #fff;
        display: inline-block;
        width: 60px;
        padding-block: 1px;
        text-align: center;
        border-radius: 3px;
        font-weight: 700;
        @media screen and (min-width: 768px) {
          font-size: rem(13);
          margin-inline-start: 20px;
          width: 80px;
          padding-block: 2px;
        }
      }
    }
  }
  dd{
    @media screen and (min-width: 768px) {
      padding-inline: 340px 20px;
    }
    :global{
      .name{
        font-size: rem(12);
        @media screen and (min-width: 768px) {
          font-size: rem(14);
        }
        label{
          display: inline-block;
          margin-inline-end: 6px;
          @media screen and (min-width: 768px) {
            margin-inline-end: 10px;
          }
        }
      }
      .family-name{
        width: 37.313%;
        margin-inline-end: 6px;
        @media screen and (min-width: 768px) {
          width: 260px;
          margin-inline-end: 20px;
        }
      }
      .given-name{
        width: 47.462%;
        @media screen and (min-width: 768px) {
          width: 260px;
        }
      }
      input[type="text"],input[type="email"],input[type="tel"]{
        outline: 1px solid #ddd;
        border: 0;
        appearance: none;
        box-shadow: inset 2px 2px 0px rgba(221, 221, 221, 0.4);
        border-radius: 3px;
        padding-block:5px;
        padding-inline: 10px;
        font-size: rem(14);
        --autofill: false;
        @media screen and (min-width: 768px) {
          font-size: rem(16);
          &:not(.family-name, .given-name){
            width: 100%;
          }
        }
        &:focus-visible{
          outline: 2px solid var(--color-primary);
          box-shadow: none;
        }
        &.is-error{
          outline: 2px solid #ff0000;
          background: #ffcece;
        }
      }
      input[type="email"],.email-confirm,.trade-name{
        width: 100%;
      }
      .type-list{
        display: flex;
        li{
          &+li{
            margin-inline-start: 15px;
          }
        }
      }
    }
    &:not(:last-of-type){
      padding-block-end: 20px;
      border-block-end: 1px solid #e0e0e0;
      margin-block-end: 20px;
      @media screen and (min-width: 768px) {
        margin-block-end: 30px;
        padding-block-end: 30px;
      }
    }
    input[type="radio"] {
      appearance: none;
      outline: 0;
      &+label{
        position: relative;
        padding-inline-start: 21px;
        font-size: rem(12);
        @media screen and (min-width: 768px) {
          font-size: rem(16);
        }
        &:before{
          content:"";
          display: block;
          width: 16px;
          height: 16px;
          border-radius: 100%;
          border:2px solid var(--color-primary);
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
      &:checked+label{
        &:after{
          content:"";
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background: var(--color-primary);
          position: absolute;
          top: 50%;
          left: 4px;
          transform: translateY(-50%);
        }
      }
    }
    textarea{
      appearance: none;
      width: 100%;
      min-height: 10rem;
      padding:10px;
      outline: 1px solid #ddd;
      border: 0;
      border-radius: 3px;
      @media screen and (min-width: 768px) {
        font-size: rem(16);
      }
      &:focus-visible{
        border: 0;
        outline: 2px solid var(--color-primary);
        box-shadow: none;
      }
      &:global{
          &.is-error{
          outline: 2px solid #ff0000;
        }
      }
    }
    p{
      &:global{
        &.is-error{
          margin-block-start: .5rem;
          color: #f00;
          font-weight: 700;
          &:before{
            content:"";
            width: 1.2rem;
            height: 1.2rem;
            display: inline-block;
            background: url(/images/mobile/contact/ico_alert01.svg) center center / contain no-repeat;
            vertical-align: middle;
            margin-inline-end: 5px;
          }
        }
      }
    }
  }
  &:global{
    &.is-confirm{
      .confirm-name{
        font-size: rem(14);
        display: inline-block;
        margin-inline-end: 10px;
        @media screen and (min-width: 768px) {
          font-size: rem(16);
        }
      }
    }
  }
}
.privacy{
  text-align: center;
  margin-block-end: 40px;
  @media screen and (min-width: 768px) {
    margin-block-end: 60px;
  }
  a{
    color: #ff7c00;
  }
  input[type="checkbox"] {
    appearance: none;
    outline: 0;
    &+label{
      position: relative;
      padding-inline-start: 26px;
      font-size: rem(14);
      @media screen and (min-width: 768px) {
        font-size: rem(16);
      }
      &:before{
        content:"";
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 1px;
        border: 0;
        outline:2px solid var(--color-primary);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      a{
        &[target="_blank"] {
          margin-inline-end: 3px;
          &:after{
            content:"";
            display: inline-block;
            background: url(/images/mobile/common/ico_blank01.svg) left top / contain no-repeat;
            width: 16px;
            height: 16px;
          }
        }
      }
    }
    &:checked+label{
      &:before{
        background: var(--color-primary);
      }
      &:after{
        content:"";
        display: block;
        height: 13px;
        width: 8px;
        border-block-end: 3px solid #fff;
        border-inline-end: 3px solid #fff;
        position: absolute;
        top: 50%;
        left: 4px;
        transform: translateY(calc(50% - 15px)) rotate(45deg);
      }
    }
  }
  :global{
    .is-error{
      margin-block-start: .5rem;
      color: #f00;
      font-weight: 700;
    }
  }
}
.button-list{
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
  margin-block-end: 100px;
  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
    width: 560px;
    margin-inline: auto;
    margin-block-end: 160px;
  }
  li{
    @media screen and (min-width: 768px) {
      width: 260px;
    }
    &+li{
      margin-block-start: 20px;
      @media screen and (min-width: 768px) {
        margin-block-start: 0;
        margin-inline-end: 40px;
      }
    }
    :global{
      .button-back{
        width: 100%;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border:1px solid var(--color-primary);
      }
    }
  }
  input,button{
    appearance: none;
    border: 0;
    background: transparent;
  }
  input[type="submit"], input[type="reset"] {
    width: 100%;
    min-height: 50px;
    border-radius: 3px;
    @media screen and (min-width: 768px) {
      cursor: pointer;
    }
  }
  input[type="submit"]{
    background: var(--color-primary);
    color: #fff;
    font-weight: 700;
    &:disabled{
      background: #ddd;
      color: #fff;
    }
  }
  input[type="reset"]{
    background: #fff;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }
}