@use '../../styles/foundation/function' as *;

.breadcrumb {
  border-block-end: 1px solid #eee;
}

.intro {
  padding-inline: 20px;
  line-height: 1.93;
  font-size: rem(13);
  letter-spacing: .1rem;
  a{
    color: #ff7c00;
    &[target="_blank"] {
      &:after{
        content:"";
        display: inline-block;
        background: url(/images/mobile/common/ico_blank01.svg) left top / contain no-repeat;
        width: 16px;
        height: 16px;
      }
    }
  }
}